<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<h2>賽事總覽</h2>
<div class = 'row well'>
  <% @events.each do |event| %>
    <div class="alert alert-success" role="alert">
      <font size = '4' ><%= event.full_name %></font>
      <span class = 'pull-right'>
        <%= link_to '賽道編排', new_event_path, class: 'btn btn-default' %>
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            參賽選手 <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <% event.athletes.each do |athlete| %>
                <li><%= athlete.name %></li>
              <% end %> 
          </ul>
        </div>
      </span>
    </div>
  <% end %>
  <br>
  <%= link_to '新增賽事', new_event_path %>
  <%= link_to '返回', root_path %>
</div>